@import "tailwindcss";

html {
  scrollbar-gutter: stable;
  background-color: #F5F5F5;
}


@theme {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  --animate-spin: spin 0.8s linear infinite;
}